<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col">
                    <nz-select 
                        style="width: 100%;" 
                        [(ngModel)]="selectedOffice"
                        nzShowSearch 
                        nzAllowClear 
                        nzPlaceHolder="Filter By office"
                        (ngModelChange)="filter('Filter[office_id]', $event)">
                        <nz-option 
                            *ngFor="let user of users" 
                            [nzLabel]="user[1]" 
                            [nzValue]="user[0]"></nz-option>
                    </nz-select>                     
                </div>
                <div class="col">
                    <nz-select 
                        style="width: 100%;" 
                        [(ngModel)]="selectedUser"
                        nzShowSearch 
                        nzAllowClear 
                        nzPlaceHolder="Filter By user"
                        (ngModelChange)="filter('Filter[user_id]', $event)">
                        <nz-option 
                            *ngFor="let user of users" 
                            [nzLabel]="user[1]" 
                            [nzValue]="user[0]"></nz-option>
                    </nz-select>                     
                </div>
                <div class="col">
                    <input 
                        nz-input 
                        type="number" 
                        min="0" 
                        #value
                        placeholder="Filter by value"
                        (keyup.enter)="filter('Filter[value]', value.value)" />
                </div>
                <div class="col">
                    <input 
                        nz-input 
                        type="number" 
                        min="0"
                        #lastcredit
                        placeholder="Filter by last credit"
                        (keyup.enter)="filter('Filter[lastcredit]', lastcredit.value)" />
                </div>
            </div>
            <div class="row">
                <div class="col" style="direction: ltr; margin-top: 10px;">
                    <nz-range-picker 
                        [(ngModel)]="date" 
                        (ngModelChange)="filter('Filter[created][_start_] Filter[created][_end_]', $event, 'date')"></nz-range-picker>
                </div>
            </div>
        </div>
    </div>
</div>