<!-- ============================================================== -->
<!-- Start Transactions Filter -->
<!-- ============================================================== -->
<app-all-trans-filter [users]="users" (loading)="loading = $event" (data)="transactions = $event" (pages)="pages = $event"></app-all-trans-filter>
<!-- ============================================================== -->
<!-- Start Transactions Filter -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Start Transactions Data -->
<!-- ============================================================== -->
<app-all-trans-tbl [data]="transactions" [pages]="pages" [loading]="loading"></app-all-trans-tbl>
<!-- ============================================================== -->
<!-- End Transactions Data -->
<!-- ============================================================== -->